    /*background: #cfbcd1;


    background-color:#c5bcd1;*/
#title {
    float:left;
}
#icon {
    max-height: 100%
}
.navbar-header {
    height: 100px;
    display: inline;
}
#audiocontent {
    text-align: center;
    position: relative;
    left: 75%;
    top:-75px;
}
#content {
    margin:10%;
    height: 350px;
}
#subtitles {
    text-align: center;
    font-size: 4em;
    font-weight:700;
}
#pics {
    text-align: center;
    margin-bottom:50px;
}
.logo {
    top:-100px;
    left: 0%;
    position: relative;
    width: 200px;
    height: 200px;
}