    /*background: #cfbcd1;


    background-color:#c5bcd1;*/
#title {
    float:left;
}
#icon {
    max-height: 100%
}
.navbar-header {
    height: 100px;
    display: inline;
}
#audiocontent {
    text-align: center;
    position: relative;
    /*left: 30%*/
}